<?xml version="1.0" encoding="utf-8"?>
<TextureAtlas imagePath="springbonnie.png">
	<!-- Created with Adobe Animate version 21.0.0.35450 -->
	<!-- http://www.adobe.com/products/animate.html -->
	<SubTexture name="down0000" x="2434" y="1663" width="555" height="703" frameX="0" frameY="-122" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0001" x="2434" y="1663" width="555" height="703" frameX="0" frameY="-122" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0002" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0003" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0004" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0005" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0006" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0007" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0008" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0009" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0010" x="1837" y="2931" width="581" height="729" frameX="-5" frameY="-96" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0011" x="2909" y="822" width="503" height="756" frameX="-45" frameY="-69" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0012" x="2909" y="822" width="503" height="756" frameX="-45" frameY="-69" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0013" x="3342" y="3170" width="435" height="813" frameX="-64" frameY="-12" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0014" x="3342" y="3170" width="435" height="813" frameX="-64" frameY="-12" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0015" x="2883" y="2368" width="456" height="825" frameX="-58" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0016" x="2883" y="2368" width="456" height="825" frameX="-58" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0017" x="2883" y="2368" width="456" height="825" frameX="-58" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0018" x="2883" y="2368" width="456" height="825" frameX="-58" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="down0019" x="2883" y="2368" width="456" height="825" frameX="-58" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="idle0000" x="3341" y="2372" width="458" height="796" frameX="0" frameY="-29" frameWidth="469" frameHeight="825"/>
	<SubTexture name="idle0001" x="3341" y="2372" width="458" height="796" frameX="0" frameY="-29" frameWidth="469" frameHeight="825"/>
	<SubTexture name="idle0002" x="3341" y="1580" width="464" height="790" frameX="-5" frameY="-35" frameWidth="469" frameHeight="825"/>
	<SubTexture name="idle0003" x="3341" y="1580" width="464" height="790" frameX="-5" frameY="-35" frameWidth="469" frameHeight="825"/>
	<SubTexture name="idle0004" x="2883" y="3195" width="457" height="806" frameX="-10" frameY="-19" frameWidth="469" frameHeight="825"/>
	<SubTexture name="idle0005" x="2883" y="3195" width="457" height="806" frameX="-10" frameY="-19" frameWidth="469" frameHeight="825"/>
	<SubTexture name="idle0006" x="3379" y="2" width="451" height="818" frameX="-9" frameY="-7" frameWidth="469" frameHeight="825"/>
	<SubTexture name="idle0007" x="3379" y="2" width="451" height="818" frameX="-9" frameY="-7" frameWidth="469" frameHeight="825"/>
	<SubTexture name="idle0008" x="2883" y="2368" width="456" height="825" frameX="-2" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="idle0009" x="2883" y="2368" width="456" height="825" frameX="-2" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="idle0010" x="2883" y="2368" width="456" height="825" frameX="-2" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="idle0011" x="2883" y="2368" width="456" height="825" frameX="-2" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="idle0012" x="2883" y="2368" width="456" height="825" frameX="-2" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="idle0013" x="2883" y="2368" width="456" height="825" frameX="-2" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="idle0014" x="2883" y="2368" width="456" height="825" frameX="-2" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="left0000" x="2" y="2444" width="558" height="792" frameX="0" frameY="-33" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0001" x="2" y="2444" width="558" height="792" frameX="0" frameY="-33" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0002" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0003" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0004" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0005" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0006" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0007" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0008" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0009" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0010" x="1314" y="647" width="540" height="795" frameX="-32" frameY="-30" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0011" x="1917" y="2110" width="515" height="805" frameX="-50" frameY="-20" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0012" x="1917" y="2110" width="515" height="805" frameX="-50" frameY="-20" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0013" x="2909" y="2" width="468" height="818" frameX="-131" frameY="-7" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0014" x="2909" y="2" width="468" height="818" frameX="-131" frameY="-7" frameWidth="622" frameHeight="825"/>
	<SubTexture name="left0015" x="2883" y="2368" width="456" height="825" frameX="-166" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="left0016" x="2883" y="2368" width="456" height="825" frameX="-166" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="left0017" x="2883" y="2368" width="456" height="825" frameX="-166" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="left0018" x="2883" y="2368" width="456" height="825" frameX="-166" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="left0019" x="2883" y="2368" width="456" height="825" frameX="-166" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="right0000" x="2" y="2" width="661" height="821" frameX="-15" frameY="-4" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0001" x="2" y="2" width="661" height="821" frameX="-15" frameY="-4" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0002" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0003" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0004" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0005" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0006" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0007" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0008" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0009" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0010" x="2" y="825" width="636" height="813" frameX="-14" frameY="-12" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0011" x="2" y="1640" width="581" height="802" frameX="-12" frameY="-23" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0012" x="2" y="1640" width="581" height="802" frameX="-12" frameY="-23" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0013" x="2420" y="845" width="487" height="816" frameX="-9" frameY="-9" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0014" x="2420" y="845" width="487" height="816" frameX="-9" frameY="-9" frameWidth="676" frameHeight="825"/>
	<SubTexture name="right0015" x="2883" y="2368" width="456" height="825" frameX="0" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="right0016" x="2883" y="2368" width="456" height="825" frameX="0" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="right0017" x="2883" y="2368" width="456" height="825" frameX="0" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="right0018" x="2883" y="2368" width="456" height="825" frameX="0" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="right0019" x="2883" y="2368" width="456" height="825" frameX="0" frameY="0" frameWidth="586" frameHeight="825"/>
	<SubTexture name="shaking0000" x="1342" y="2" width="679" height="622" frameX="0" frameY="-24" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0001" x="1342" y="2" width="679" height="622" frameX="0" frameY="-24" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0002" x="665" y="2" width="675" height="643" frameX="-14" frameY="-3" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0003" x="665" y="2" width="675" height="643" frameX="-14" frameY="-3" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0004" x="679" y="3092" width="676" height="641" frameX="-9" frameY="-5" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0005" x="679" y="3092" width="676" height="641" frameX="-9" frameY="-5" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0006" x="2" y="3238" width="675" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0007" x="2" y="3238" width="675" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0008" x="1262" y="1473" width="677" height="635" frameX="-7" frameY="-11" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0009" x="1262" y="1473" width="677" height="635" frameX="-7" frameY="-11" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0010" x="562" y="2444" width="675" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0011" x="562" y="2444" width="675" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0012" x="679" y="3092" width="676" height="641" frameX="-9" frameY="-5" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0013" x="679" y="3092" width="676" height="641" frameX="-9" frameY="-5" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0014" x="585" y="1640" width="675" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0015" x="585" y="1640" width="675" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0016" x="1262" y="1473" width="677" height="635" frameX="-7" frameY="-11" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0017" x="1262" y="1473" width="677" height="635" frameX="-7" frameY="-11" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0018" x="640" y="825" width="672" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0019" x="640" y="825" width="672" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0020" x="1239" y="2288" width="676" height="641" frameX="-9" frameY="-5" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0021" x="1239" y="2288" width="676" height="641" frameX="-9" frameY="-5" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0022" x="585" y="1640" width="675" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="shaking0023" x="585" y="1640" width="675" height="646" frameX="-14" frameY="0" frameWidth="689" frameHeight="646"/>
	<SubTexture name="up0000" x="1357" y="2931" width="478" height="902" frameX="0" frameY="0" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0001" x="1357" y="2931" width="478" height="902" frameX="0" frameY="0" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0002" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0003" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0004" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0005" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0006" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0007" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0008" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0009" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0010" x="2420" y="2917" width="461" height="892" frameX="-13" frameY="-10" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0011" x="1941" y="626" width="477" height="877" frameX="-38" frameY="-25" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0012" x="1941" y="626" width="477" height="877" frameX="-38" frameY="-25" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0013" x="2420" y="2" width="487" height="841" frameX="-68" frameY="-81" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0014" x="2420" y="2" width="487" height="841" frameX="-68" frameY="-81" frameWidth="555" frameHeight="922"/>
	<SubTexture name="up0015" x="2883" y="2368" width="456" height="825" frameX="-61" frameY="-97" frameWidth="586" frameHeight="825"/>
	<SubTexture name="up0016" x="2883" y="2368" width="456" height="825" frameX="-61" frameY="-97" frameWidth="586" frameHeight="825"/>
	<SubTexture name="up0017" x="2883" y="2368" width="456" height="825" frameX="-61" frameY="-97" frameWidth="586" frameHeight="825"/>
	<SubTexture name="up0018" x="2883" y="2368" width="456" height="825" frameX="-61" frameY="-97" frameWidth="586" frameHeight="825"/>
	<SubTexture name="up0019" x="2883" y="2368" width="456" height="825" frameX="-61" frameY="-97" frameWidth="586" frameHeight="825"/>
</TextureAtlas>
